body{  
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1366px;
  margin: auto;
}
.container {
	width: 380px;
	box-shadow: 0 3px 20px rgba(0,0,0,4);
	padding: 30px;
	margin-left: 460px;
	margin-top: 120px;
	border :1px;

	background: #FFFAFA;
	mix-blend-mode: normal;
	border: 1px solid #000000;
	box-sizing: border-box;
	position: absolute;
}